__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# debug artifacts
debug/

# libdds writes error dumps to CWD
/dump.txt


# build & packaging
*.egg-info/
build/
dist/

# python venv
.venv/
